body{
    font-family: 'Roboto Slab', serif;
}
h1{
    font-size: xx-large;
}
.title-color{
    color: blueviolet;
}
.section{
    display: flex;
    padding: 5%;
}
#image2{
    height: 90%;
}
.link{
    text-decoration: none;
    background-image:linear-gradient(darkgrey,#b700ffd7);
    padding: 10px 20px;
    font-weight: 700;
    border-radius:50px;
}
.section2{
    background-image: url(image/Frame\ 57.jpg);
    background-repeat: no-repeat;
}
#mid_text{
    text-align: center;
}
.div{
    width: 80%;
    margin-left:2%;
    margin-right:2%;
    box-shadow: 10px 10px 40px rgb(201, 199, 199);
    border-radius: 5%;
    padding: 10px;
}
.div img{
    width: 100%;
    border-radius:5%;
}
.div-social{
    width: 100%;

}
#box-shadow{
    box-shadow: 10px 10px 40px rgb(201, 199, 199);
    padding:5%;
    margin-left:5%;
    margin-right:5%;
    border-radius: 5%;
}





